%h1 Listing links

%table
  %tr
    %th Name
    %th Url
    %th Short desc
    %th
    %th
    %th
    %th

  - links.each do |link|
    %tr
      %td= link.updated_at
      %td= link.name
      %td= link.url
      %td= link.short_description
      %td= link_to 'Show', link
      %td= link_to 'Edit', edit_link_path(link)
      %td= link_to 'Destroy', link, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Link', new_link_path
