= simple_form_for(query) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, required: :true

  .form-inputs
    = f.input :refresh_time, as: :integer, label: 'Refresh interval time (in minutes)', input_html: { value: '15' }

  .form-actions
    = f.button :submit
