- if user_signed_in?

  %h1 My queries

  - if current_user.queries.to_a.present?
    %table.table.table-bordered
      %tr
        %th Name
        %th
        %th
        %th

      - current_user.queries.to_a.each do |query|
        %tr
          %td= query.name
          %td= link_to 'Show', query
          %td= link_to 'Edit', edit_query_path(query)
          %td= link_to 'Destroy', query, :method => :delete, :data => { :confirm => 'Are you sure?' }
  - else
    %br
    = link_to 'Add new Query', new_query_path
- else
  Welcome!
